<!-- /templates/page.fullwidth.liquid -->

<section class="page">
	<h2 class="theme">{{ page.title }}</h2>
	{{ page.content }}
</section>
{% comment %}
{%- section 'about-image-with-text' -%}
{%- section 'about-rich-text' -%}
{%- section 'about-columns' -%}
{% endcomment %}